<div class="line highlight oneindent">
  <span class="uneditable">loop_</span>
</div>
<ng-container *ngFor='let col of loop.tags; let i = index'>
	<div class="line highlight" *ngIf='loop.data_in_column[i] || showall'>
	  <span class="uneditable twoindent" >{{loop.category + '.' + col}}</span>
	</div>
</ng-container>
<table class="twoindent alternatingcolor" style="max-width: 95%;">
  <tbody>
    <tr *ngFor='let row of loop.data'>
      <ng-container *ngFor='let datum of row; let i = index'>
	    <td *ngIf='loop.data_in_column[i] || showall'>
	      <span class="editable highlight" contenteditable="true">{{datum}}</span>
	    </td>
      </ng-container>
    </tr>
  </tbody>
</table>
<div class="line highlight oneindent">
  <span class="uneditable">stop_</span>
</div>