<div>

	<table class="loop">
   		<colgroup>
	      <col span="1" style="width: 2.5em;">
	   </colgroup>
		<thead>
			<tr (contextmenu)="log()">
			  <th colspan=999>
				{{loop.data[0][0].schema_values['ADIT category view name']}}
			  </th>
			</tr>
			<tr>
			 <th style="border-collapse: collapse;"></th>
			<ng-container *ngFor='let col of loop.tags; let c = index'>
			  <th *ngIf="loop.schema_values[c]['User full view'] == 'Y' || (loop.schema_values[c]['User full view'] == 'N' && show_all)"
			      [ngClass]="{'mandatory': loop.schema_values[c]['User full view'] == 'Y', 'tag_header': true}"
	      		  (click)="active_tag = (active_tag != loop.data[0][c] ? loop.data[0][c] : null)"
	      		  >{{loop.data[0][c].schema_values['Prompt']}}</th>
			  </ng-container>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let row of loop.data; let r = index">
			<td><a *ngIf="r>0" class="fake_button" (click)='deleteRow(r)'>-</a></td>
			<ng-container *ngFor="let col of row; let c = index">
			  <td *ngIf="loop.schema_values[c]['User full view'] == 'Y' || (loop.schema_values[c]['User full view'] == 'N' && show_all)"
	      		  [ngClass]="{'invisible': true, 'invalid': !loop.data[r][c].valid}">
			    <app-tag [tag]='loop.data[r][c]' [unique_identifier]="'_' + loop.parent.name + '_' + r + '_' + c" (contextmenu)="loop.data[r][c].log()"></app-tag>
			  </td>
			  </ng-container>
			</tr>
			<tr>
				<td colspan=999>
				  <a class="fake_button" (click)='addRow()'>+</a>
				</td>
			</tr>

		</tbody>
	</table>


	<div *ngIf='active_tag' class='tag_info_box'>
      <b>{{active_tag.schema_values['Prompt']}}</b>
      <p>{{active_tag.schema_values['Interface']}}</p>
      <p *ngIf="active_tag.schema_values['Example'] != '?'"><b>Example:</b> {{active_tag.schema_values['Example']}}</p>
      <p><i>{{active_tag.fqtn}}</i></p>
      <p *ngIf='active_tag.validation_message' [class]="'mandatory'">{{active_tag.validation_message}}</p>
    </div>
</div>
