<div *ngIf="(showInvalidOnly && !loop.valid) || !showInvalidOnly">
	<table class="loop">
   		<colgroup>
	      <col span="1" class="button_column">
	   </colgroup>
		<thead>
			<tr (contextmenu)="log()">
			  <th colspan=999>
          {{loop.data[0][0].schemaValues['ADIT category view name']}}
          <a *ngIf="loop.category == '_Citation_author' && loop.empty" class="fake_button line" (click)="copyAuthors()">Copy authors from 'Entry information'</a>
        </th>
			</tr>
			<tr>
        <th></th>
        <ng-container *ngFor='let col of loop.data[0]'>
          <th *ngIf="col.display == 'Y' || (col.display == 'N' && loop.parent.parent.showAll)"
              class="tag_header"
                (click)="activeTag = (activeTag != col ? col : null)"
                [title]="col.schemaValues['Interface']"
                >{{col.schemaValues['Prompt']}}
            <span *ngIf="col.display == 'Y'" class="mandatory">*</span>
          </th>
          </ng-container>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let row of loop.data; let r = index">
			<td><button *ngIf="r>0" class="real_button" (click)='deleteRow(r)'>-</button></td>
			<ng-container *ngFor="let col of row; let c = index">
			  <td *ngIf="col.display == 'Y' || (col.display == 'N' && loop.parent.parent.showAll)"
	      		  [ngClass]="{'invisible': true, 'invalid': !col.valid}">
			    <app-tag [tag]='col'
                   [unique_identifier]="'_' + loop.parent.name + '_' + r + '_' + c"
                   (contextmenu)="col.log()"></app-tag>
			  </td>
			  </ng-container>
			</tr>
			<tr>
				<td colspan=999>
				  <button class="real_button" (click)='addRow()'>+</button>
				</td>
			</tr>

		</tbody>
	</table>


	<div *ngIf='activeTag' class='tag_info_box'>
      <b>{{activeTag.schemaValues['Prompt']}}</b>
      <p>{{activeTag.schemaValues['Interface']}}</p>
      <p *ngIf="activeTag.schemaValues['Example'] != '?'"><b>Example:</b> {{activeTag.schemaValues['Example']}}</p>
      <p><i>{{activeTag.fullyQualifiedTagName}}</i></p>
      <p *ngIf="activeTag.validationMessage" class="mandatory">{{activeTag.validationMessage}}</p>
    </div>
</div>
