.mandatory {
	color: red;
}

.invisible {
	background-color: white;
	padding: 1px;
	margin: 0;
}

.invalid {
	background-color: #ffe4e1;
}

.greyed_out {
  background-color: #E5E6Ef;
}

.tag-header {
	cursor: help;
  background-color: #E5E6Ef;
}

.header-text {
	vertical-align: middle;
	font-size: larger;
  font-weight: bold;
}

.button-column {
  width: 2.5em;
}

table {
	width:calc(100% - 1em);
  background-color: #E5E6Ef;
  margin-bottom: 1em;
  margin-left: 1em;

  padding: 0 .25em 0 .25em;
  border-collapse: collapse;
  border-radius: 5px;
}

th {
    text-align: left;
    background-color: #CBDBFF;
    font-weight: bold;
    font-style: normal;
    color: black;
    border: 1px solid #666699;
    padding: .5em;
}

td {
    text-align: left;
    background-color: #CBDBFF;
    font-weight: normal;
    font-style: normal;
    color: black;
    border: 1px solid #666699;
    padding: 0 0.25em;
} 

