<mat-toolbar>
    <mat-toolbar-row [ngClass]="{'auto-height': !entry}">
        <div *ngIf="entry"
             (click)="sidenav.toggle(); treeView.scrollSideNav()"
             class="valign-center" matTooltip="Toggle the navigation menu.">
            <mat-icon>menu</mat-icon>
            <span style="vertical-align: bottom">Menu</span>
        </div>
        <ng-container *ngIf="entry">
          <span *ngIf="entry && !entry.deposited" class="title-center">
            BMRbig - Upload '{{entry.depositionNickname}}' in progress
          </span>
          <span *ngIf="entry && entry.deposited" class="title-center">
            BMRbig - Upload '{{entry.depositionNickname}}' completed
          </span>
          <span *ngIf="!entry" class="title-center"
                  matTooltip="Log out from this upload. You can resume it later by following the link sent to
your email when you created the upload.">BMRbig</span>
          <span class="title-right pointer" routerLink="/" (click)="clearEntry()">End session</span>
        </ng-container>

      <div *ngIf="!entry" class="title-center pointer">
        <a href="https://bmrb.io" *ngIf="!entry" class="title-right pointer">
          <img src="/assets/images/BMRbig_logo_new.png" alt="BMRB logo"
               style="padding-top: 10px; height: 90px"/>
        </a>
      </div>

    </mat-toolbar-row>
    <mat-toolbar-row class="loading-bar-holder" *ngIf="(loader.value$ | async)">
        <mat-progress-bar mode="indeterminate" [value]="loader.value$ | async"></mat-progress-bar>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav [(opened)]="sidenav_open" mode="push" #sidenav [autoFocus]="false">
        <app-tree-view #treeView (sessionEnd)="sidenav.close()"></app-tree-view>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
