.title-center {
  margin: 0 auto;
}

.title-right {
  text-align: right;
}

.auto-height {
  height: auto;
}

.loading-bar-holder {
  height: 4px !important;
  display: block;
}

mat-sidenav-container {
  height: calc(100% - 64px);
}

.valign-center {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  cursor: pointer;
}
