<mat-toolbar>
  <mat-toolbar-row>
    <div *ngIf="api.cachedEntry!==undefined && api.getEntryID() && api.cachedEntry.emailValidated"
         (click)="sidenav.toggle(); treeView.scrollSideNav()"
         class="valign-center">
      <mat-icon>menu</mat-icon>
      <span style="vertical-align: bottom">Menu</span>
    </div>
    <span class="title-center" routerLink="/">BMRBDep</span>
  </mat-toolbar-row>
  <mat-toolbar-row class="loading-bar-holder">
    <div *mkLoadingPage="{checkPendingHttp: true}">
      <mk-sliding-bar colorOne="#CBDBFF" colorTwo="#F5F5F5"></mk-sliding-bar>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav [(opened)]="sidenav_open" mode="push" #sidenav [autoFocus]="false">
    <app-tree-view #treeView></app-tree-view>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-message></app-message>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
