# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/dist-server
/tmp
/out-tsc

# dependencies
node_modules
node_env

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

__pycache__
package-lock.json
configuration.json
env/
nmr-star-dictionary
schema_data
/installation.log
/FrontEnd/dist
/FrontEnd/src/environments/versions.ts
/BackEnd/bmrbdep/version.txt
.mypy_cache
orcid.py
/docker_build