<div *ngIf="entry_id; else no_data">
  <h2>Viewing BMRbig entry {{entry_id}}.</h2>

  <h3>Data files:</h3>
  <table class="alternating">
    <thead>
    <tr>
      <th>File name</th>
      <th>File description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><a href="{{env.serverURL}}/released/{{entry_id}}/{{entry_id}}.str">{{entry_id}}.str</a></td>
      <td>Entry metadata</td>
    </tr>
    <tr *ngFor="let file of files">
      <td><a href="{{file.path}}">{{file.name}}</a></td>
      <td>Uploaded data file</td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #no_data>
  <div>
    <h2>No such entry ID exists, or the entry has not yet been released</h2>
  </div>
</ng-template>

