<div *ngIf="entry_id">
  <ng-container *ngIf="files else no_data">
    <h2>Viewing BMRbig entry {{entry_id}}: {{title}}</h2>

    <table class="alternating">
      <thead>
      <tr>
        <th>File name</th>
        <th>File description</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><a href="{{env.serverURL}}/released/{{entry_id}}/{{entry_id}}.str">{{entry_id}}.str</a></td>
        <td>Entry metadata</td>
      </tr>
      <tr *ngFor="let file of files">
        <td><a href="{{file.path}}">{{file.name}}</a></td>
        <td>{{file.type.join(", ")}}</td>
      </tr>
      </tbody>
    </table>
  </ng-container>
  <ng-template #no_data>
    <h2>No such entry ID exists, or the entry has not yet been released</h2>
  </ng-template>

  <br>
  <button mat-raised-button color="primary" routerLink="..">Return to the entry list.</button>
</div>

<div *ngIf="!entry_id">
  <h3>Available entries:</h3>

  <h4 *ngIf="!records">Loading...</h4>
  <table *ngIf="records" class="alternating">
    <thead>
    <tr>
      <th>Entry ID</th>
      <th>Title</th>
      <th>Release date</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let record of records">
      <td><a routerLink='{{record.id}}'>{{record.id}}</a></td>
      <td>{{record.title}}</td>
      <td>{{record.date}}</td>
    </tr>
    </tbody>
  </table>
</div>
