<div class="line highlight oneindent">
  <span class="uneditable">loop_</span>
</div>
<ng-container *ngFor='let col of loop.tags; let i = index'>
	<div class="line highlight" *ngIf="loop.data_in_column[i] || showAll">
	  <span class="uneditable twoindent" >{{loop.category + '.' + col}}</span>
	</div>
</ng-container>
<table class="twoindent alternatingcolor" style="max-width: 95%; table-layout: auto">
  <tbody>
    <tr *ngFor='let row of loop.data; let n = index;'>
      <ng-container *ngFor='let datum of loop.data[n]; let i = index;'>
	    <td *ngIf="showAll || loop.data_in_column[i]">
	      <input class="datum highlight" [(ngModel)]="loop.data[n][i]" placeholder="." [style.width.ch]='(loop.data[n][i] !== null) ? loop.data[n][i].value.length + 2 : 2'><!-- [style.width.ch]='(loop.data[n][i] !== null) ? loop.data[n][i].length + 2 : 2' -->
	    </td>
      </ng-container>
    </tr>
  </tbody>
</table>
<div class="line highlight oneindent">
  <span class="uneditable">stop_</span>
</div>
