.header_text {
  vertical-align: middle;
  font-size: larger;
  font-weight: bold;
}

table {
  width: auto;
  background-color: #E5E6Ef;
  margin-bottom: 1em;
  margin-right: 1em;
  padding: 0 0.25em;
  border-collapse: collapse;
  border-radius: 5px;
}

th {
  text-align: left;
  background-color: #CBDBFF;
  font-weight: bold;
  font-style: normal;
  color: black;
  border: 1px solid #666699;
  padding: .5em;
}

td {
  text-align: left;
  background-color: #E5E6EF;
  font-weight: normal;
  font-style: normal;
  color: black;
  border: 1px solid #666699;
  padding: 0 0.25em;
}

.invisible {
  background-color: white;
  padding: 6px;
  margin: 0;
}

.dragTD {
  background-color: white;
}

.dragBox {
  height: 4em;
  margin: .5em;
  border: 2px solid #33527b;
  border-radius: 5px;
  text-align: center;
  position: relative;
}

.dragText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.file-upload {
  margin: .5em;
}
