<table style="width: 100%">
  <colgroup>
    <col span="1" style="width: 20%;">
    <col span="1" style="width: 70%;">
  </colgroup>

  <thead>
  <tr>
    <th (contextmenu)="saveframe.log()">
      <a class="header_text">Deposit data files</a>
    </th>
    <th>
      <div style="text-align: right; float: right">
        <a class="fake_button line"
           [routerLink]="['/entry', api.getEntryID(), 'saveframe', 'deposited_data_files', 'category']">
          View sections of this category
        </a>
      </div>
    </th>
  </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="saveframe">
    <tr *ngFor="let file of saveframe.parent.dataStore.dataFiles">
      <td>
        <div class="file-upload">
          <div *ngIf="file.fileName">{{file.fileName}}</div>
          <mat-progress-bar *ngIf="file.fileName && file.percent != 100" mode="determinate" [value]="file.percent" color="#33527b">Uploading file: </mat-progress-bar>
        </div>
      </td>
      <td class="invisible">
        <div class="file-upload">
          <mat-form-field>
            <mat-select (selectionChange)="saveframe.parent.updateUploadedData(); this.api.saveEntry()"
                        [formControl]="file.control"
                        placeholder="Please select the data type(s) for this file."
                        multiple required>
              <mat-option *ngFor="let dataType of file.dropdownList" [value]="dataType">{{dataType[0]}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </td>
    </tr>
    </ng-container>
    <tr>
      <td>
        <div class="file-upload">
          <input type="file" (change)="selectFile($event)" placeholder="Upload file" multiple #inputFile>
        </div>
      </td>
      <td class="dragTD" (drop)="onDropFile($event)" (dragover)="onDragOverFile($event)">
        <div class="dragBox"><div class="dragText">Or drag and drop files here</div></div>
      </td>
    </tr>
  </tbody>
</table>
