<div class="main-content">

  <!--
  <mat-card>
    <mat-card-header>
      <mat-card-title>Upload Resources</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li><a href="http://www.bmrb.wisc.edu/bmrb/data_accepted.shtml" target="_blank">Types of data accepted</a></li>
        <li><a href="http://www.bmrb.wisc.edu/software/tablegen/" target="_blank">Data table generators</a></li>
        <li><a href="http://www.bmrb.wisc.edu/software/starch/" target="_blank">Format conversion STARch</a></li>
        <li><a href="http://www.bmrb.wisc.edu/validate/" target="_blank">Validation tools</a></li>
        <li><a href="http://deposit.bmrb.wisc.edu/bmrb-adit/shifts_example_help.html" target="_blank">NMR-STAR Chemical shift format details</a></li>
      </ul>
    </mat-card-content>
  </mat-card>-->

  <mat-card>
    <mat-card-header>
      <mat-card-title>Contact Us</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Use this form to report a bug or get support with any aspect of the BMRbig system. We will respond,
        if appropriate, via e-mail.</p>

      <mat-form-field class="content-box" color="accent">
        <label>
          <input matInput placeholder="Please enter your message." required [formControl]="messageControl">
        </label>
      </mat-form-field>

      <mat-form-field class="content-box" color="accent" *ngIf="entry == null">
        <label>
          <input matInput placeholder="Please enter your e-mail." required [formControl]="emailControl">
        </label>
      </mat-form-field>

      <button [disabled]="!messageControl.valid || submitted" mat-raised-button color="accent" (click)="sendRequest()">
        Click here to submit.
      </button>
      <p *ngIf="notificationMessage">{{notificationMessage}}</p>
    </mat-card-content>
  </mat-card>

  <button mat-raised-button color="accent" (click)="goBack()">Return to previous page</button>
</div>
