.star {
    border: solid 2px #33527b;
    margin-top: 0.5em;
    max-width: 98%;
}

.saveframe {
	max-width: 90%;
}

.mandatory {
	color: red;
}

.type_error {
	color: red;
}

.sf_input {
	width: 100%;
    padding: 10px;
    margin: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-width: 0px;
    border-radius: 3px;
}

.tag_description {
	font-weight: bold;
}

.input_th {
	background-color: white;
}

.input_th>input:hover {
	border-width: 1px;
	
}

/* right from adit */
.category_cell_toplabel {
    background-color: #CBDBFF;
    font-size: larger;
    font-weight: bold;
}

th {
    text-align: left;
    background-color: #E5E6EF;
    font-weight: bold;
    font-style: normal;
    color: black;
    border-color: #666699;
    border-width: 1px;
    border-style: solid;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

table {
	width: auto;
    background-color: #E5E6Ef;
    margin-bottom: 1em;
    margin-right: 1em;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.25em;
    padding-right: 0.25em;
    border-collapse: collapse;
    border-radius: 5px;
    
}

td {
    text-align: left;
    background-color: #E5E6EF;
    font-weight: normal;
    font-style: normal;
    color: black;
    border-color: #666699;
    border-width: 1px;
    border-style: solid;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.25em;
    padding-right: 0.25em;
} 

.sf_name {
	border:none;
	font-weight: normal;
	width: 90%;
}

.datum {
	border:none;
	font-weight: normal;
	width: 100%;
}

.clean_text {
    border-radius: 3px;
    transition: all 0.5s ease;
    background: #EDEDED;
    border: 1px solid #C8C8C8;
    color: #777777;
    margin: 7px 5px 7px 0;
    padding: 5px 3px 5px 3px;
}

.clean_text:focus {
    box-shadow: 0 0 2px #666666 inset;
    background-color: #FFFFFF;
    border: 1px solid #666666;
    outline: none;
}

