
<div>
	<a class="fake_button line" (click)='saveframe.duplicate()'>Duplicate</a>
	<a class="fake_button line" (click)='saveframe.parent.removeSaveframe(saveframe)'>Delete</a>
	<table>
		<colgroup>
	       <col span="1" style="width: 20%;">
	       <col span="1" style="width: 70%;">
	    </colgroup>
    
		<thead>
			<tr><th class="category_cell_toplabel" colspan=2 *ngIf="saveframe.tags[0]">{{saveframe.tags[0].schema_values['ADIT category view name']}}</th></tr>
		</thead>
		<tbody>
		<ng-container *ngFor="let sftag of saveframe.tags">
	      	<tr *ngIf="sftag.schema_values['User full view'] == 'Y' || (showall && sftag.schema_values['User full view'] == 'N')"
	      	    (mouseenter)="active_tag = sftag"
	      		(mouseleave)="active_tag = null">
	      		<td [ngClass]="{'mandatory': sftag.schema_values['User full view'] == 'Y', 'tag_description': true}"
	      		    [innerHTML]="sftag.schema_values['Prompt']"
	      		    [title]="sftag.schema_values['Interface']"></td>
	      		<td class="input_th"><input [(ngModel)]="sftag.value"
	      		           [ngClass]="{'type_error': !sftag.valid, 'sf_input': true}"
	      		           [placeholder]="sftag.schema_values['default value']"
	      		           (change)="validateTag(sftag)"></td>
			</tr>
		</ng-container>
		</tbody>
	</table>
	<div *ngIf='active_tag' class='fixed'>
      <p><b>{{active_tag.schema_values['Interface']}}</b></p>
      <p> NMR-STAR Tag: <i>{{active_tag.fqtn}}</i></p>
    </div>
</div>
	
	


<!--  
  <span class="uneditable line">save_</span><input class="sf_name" [(ngModel)]="saveframe.name" placeholder="{{saveframe.category}}">
  <table class="oneindent">
    <tr>
      <th style="width: 30%"></th>
      <th></th>                
    </tr>
    <ng-container *ngFor="let sftag of saveframe.tags">
      <tr class="highlight" *ngIf="sftag.value || showall">
        <td><span class="uneditable">{{schema.getValue(saveframe.tag_prefix + '.' + sftag.name, 'Prompt')}}</span></td>
        <ng-container *ngIf='sftag.name != "Sf_framecode" then normal_tag else sf_framecode'></ng-container>
        <ng-template #normal_tag>
          <td>
          <div>
            <a *ngIf='sftag.value && sftag.value.indexOf("$")==0' [routerLink]="['/entry', saveframe.getID(), 'saveframe', sftag.value.substring(1), 'name']">Jump to: </a>
            <input class="datum" style="width:80%" [(ngModel)]="sftag.value" placeholder=".">
            </div>
          </td>
        </ng-template>
        <ng-template #sf_framecode><td><input class="datum" [(ngModel)]="saveframe.name" placeholder="."></td></ng-template>
        
      </tr>
    </ng-container>
  </table>
  <app-loop *ngFor='let loop of saveframe.loops' [loop]='loop' [showall]='showall'></app-loop>
  <span class="uneditable line">save_</span>
</div>
-->

