<ng-container *ngIf="(showInvalidOnly && !saveframe.valid) || !showInvalidOnly">
<app-file-uploader *ngIf="saveframe.category == 'deposited_data_files'; else normal" [entry]="saveframe.parent"></app-file-uploader>
<ng-template #normal>
  <div *ngIf="saveframe.display == 'Y' || (showAll && saveframe.display == 'N')">

    <table style="width: 100%">
      <colgroup>
           <col span="1" style="width: 20%;">
           <col span="1" style="width: 70%;">
        </colgroup>

      <thead>
        <tr>
          <th *ngIf="saveframe.tags[0]" (contextmenu)="saveframe.log()">
          <a class="header_text" [title]="saveframe.schemaValues['group_view_help']">
            {{saveframe.schemaValues['category_group_view_name']}}
          </a>
          </th>
          <th>
            <div style="text-align: right; float: right">
              <a class="fake_button line"
                *ngIf="saveframe.schemaValues['ADIT replicable'] === 'Y'"
                (click)='saveframe.duplicate(); processChange()'>Duplicate</a>
            <a class="fake_button line"
              *ngIf="saveframe.schemaValues['ADIT replicable'] === 'Y'"
              (click)='saveframe.duplicate(true); processChange()'>Create New</a>
            <a class="fake_button line"
              *ngIf="saveframe.index >= saveframe.schemaValues['mandatory_number']"
              (click)='saveframe.parent.removeSaveframe(saveframe); processChange()'>Delete</a>
            <a class="fake_button line"
              *ngIf="showCategoryLink"
              [routerLink]="['/entry', saveframe.parent.entryID, 'saveframe', saveframe.category, 'category']">View sections of this category</a>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let sftag of saveframe.tags">
        <tr *ngIf="sftag.display == 'Y' || (showAll && sftag.display == 'N')"
              (contextmenu)="sftag.log()">
          <td *ngIf="sftag.display == 'Y'; else non_mandatory" class="tag_description"
                [title]="sftag.schemaValues['Interface']"
                [innerHTML]="sftag.schemaValues['Prompt'] + '<span class=\'mandatory\'>*</span>'"
                (click)="activeTag = (activeTag != sftag ? sftag : null)">
          </td>
          <ng-template #non_mandatory>
            <td class="tag_description"
                [title]="sftag.schemaValues['Interface']"
                [innerHTML]="sftag.schemaValues['Prompt']"
                (click)="activeTag = (activeTag != sftag ? sftag : null)">
            </td>
          </ng-template>
          <td [ngClass]="{'invisible': true, 'invalid': !sftag.valid}">
            <app-tag [tag]='sftag' [unique_identifier]="'_' + saveframe.name" ></app-tag>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>

    <div *ngIf='activeTag' class='tag_info_box'>
      <b>{{activeTag.schemaValues['Prompt']}}</b>
      <p>{{activeTag.schemaValues['Interface']}}</p>
      <p *ngIf="activeTag.schemaValues['Example'] != '?'"><b>Example:</b> {{activeTag.schemaValues['Example']}}</p>
      <p><i>{{activeTag.fullyQualifiedTagName}}</i></p>
      <p *ngIf='activeTag.validationMessage' [class]="'mandatory'">{{activeTag.validationMessage}}</p>
    </div>

    <ng-container *ngFor='let loop of saveframe.loops'>
      <app-loop *ngIf="loop.display == 'Y' || (loop.display == 'N' && showAll)"
                [loop]='loop'
                [showAll]="showAll"
                [showInvalidOnly]="showInvalidOnly"></app-loop>
    </ng-container>
  </div>
</ng-template>
</ng-container>
