.star {
    border: solid 2px #33527b;
    margin-top: 0.5em;
    max-width: 98%;
}

.saveframe {
	max-width: 90%;
}

.uneditable {
    font-weight: bold;
}
.sf_name {
	border:none;
	font-weight: normal;
	width: 90%;
}

.datum {
	border:none;
	font-weight: normal;
	width: 100%;
}

.clean_text {
    border-radius: 3px;
    transition: all 0.5s ease;
    background: #EDEDED;
    border: 1px solid #C8C8C8;
    color: #777777;
    margin: 7px 5px 7px 0;
    padding: 5px 3px 5px 3px;
}

.clean_text:focus {
    box-shadow: 0 0 2px #666666 inset;
    background-color: #FFFFFF;
    border: 1px solid #666666;
    outline: none;
}


.fake_button, .fake_button:visited {
    color: #333333;
    text-decoration:none;
    font-weight: bold;

    border-radius: 3px;
    border: 1px solid #C8C8C8;
    padding: 5px 10px 5px 10px;
    display: inline-block;
    background-color:#ededed;
}

.fake_button:hover {
    box-shadow: 0 0 2px #666666 inset;
    border: 1px solid #666666;
    outline: none;
}

.line {
    margin-top: 5px;
    margin-bottom: 5px;
}
.nodict {
    background-color: brown;
}
.containsunicode {
    background-color: yellow;
}
.illegalnull {
    background-color: orange;
}
.warn {
    background-color:red;
}
.highlight:hover {
    background-color: #ededed;
}
