.star {
    border: solid 2px #33527b;
    margin-top: 0.5em;
    max-width: 98%;
}

.saveframe {
	max-width: 90%;
}

.uneditable {
    font-weight: bold;
}
.sf_name {
	border:none;
	font-weight: normal;
	width: 90%;
}

.datum {
	border:none;
	font-weight: normal;
	width: 100%;
}


.oneindent {
    position: relative;
    left: 30px;
    width: 100%;
}
.twoindent {
    position: relative;
    left: 60px;
}
.line {
    margin-top: 5px;
    margin-bottom: 5px;
}
.nodict {
    background-color: brown;
}
.containsunicode {
    background-color: yellow;
}
.illegalnull {
    background-color: orange;
}
.warn {
    background-color:red;
}
.highlight:hover {
    background-color: #ededed;
}
table.alternatingcolor tr:nth-child(even) {
    background-color: #CBDBFF;
}
