# Flask related
wheel==0.36.2
flask==2.0.1
simplejson==3.17.2
flask-cors==3.0.10
Flask-Mail==0.9.1
# For querying ORCID and PubMed
requests==2.25.1
# For working with BMRB entries
pynmrstar==3.2.0
# For email validation
git+git://github.com/uwbmrb/validate_email.git@2b38de4374b1e6188a280b0c86e11e45d6308bd0
# For managing depositions
gitpython==3.1.18
filelock==3.0.12
python-dateutil==2.8.1
# For putting entries in ETS
psycopg2-binary==2.9.1
# For stripping unicode
Unidecode==1.2.0

## Development related
# This is for installing node locally
nodeenv==1.6.0
# This makes the local flask server faster to reload when editing the code
watchdog==2.1.3
# For type checking the project
mypy==0.910
