# Flask related
wheel==0.34.2
flask==1.1.1
simplejson==3.17.0
flask-cors==3.0.8
Flask-Mail==0.9.1
# For fetching BMRB entries to create new entries from
requests==2.23.0
# For working with BMRB entries
git+git://github.com/uwbmrb/pynmrstar.git@0908c54aedfe40ed93f67739382d9a76af6ab0de
# The following two are for email validation
git+git://github.com/uwbmrb/validate_email.git@2b38de4374b1e6188a280b0c86e11e45d6308bd0
# For managing depositions
gitpython==3.0.7
filelock==3.0.12
python-dateutil==2.8.1
# For putting entries in ETS
psycopg2-binary==2.8.4
# For stripping unicode
Unidecode==1.1.1
# For the directory viewer
flask-autoindex==0.6.6

## Development related
# This is for installing node locally
nodeenv==1.3.5
# This makes the local flask server faster to reload when editing the code
watchdog==0.10.2
# For type checking the project
mypy>=0.761
