<div>
  <app-tree-view [entry]="entry" [active]="'entry'"></app-tree-view>

  <div class="entry">
	<p><a>Display non-mandatory tags: <ui-switch [(ngModel)]="show_all" size="small" color="#CBDBFF"></ui-switch></a></p>
	<a class="fake_button line" (click)='download(entry.entry_id + ".str", entry)'>Download Entry {{entry.entry_id}}</a>
	<ng-container *ngFor='let sf of entry.saveframes'>
	  <a style="margin-top: 3em; display: none" class="fake_button line" [routerLink]='["/entry", entry.entry_id, "saveframe", sf.name, "name"]'>Direct edit {{sf.name}}</a>
	  <app-saveframe [saveframe]='sf' [show_all]="show_all"></app-saveframe>
	</ng-container>
  </div>
</div>
