.active {
  font-weight: bolder !important;
  background: rgba(0, 0, 0, .1) !important;
}

mat-list-item {
  display: flex !important;
  align-items: center !important;
}

mat-list-item mat-icon {
  margin-right: 8px;
}

.nav-card mat-card-title {
  padding: 16px;
  line-height: 1.3;
  overflow-wrap: anywhere;
  word-break: break-word;
}
