<div style="float: right; width:85%">

	<div>
	<h3>Saveframe Loader</h3>
      <input class="clean_text" [(ngModel)]='entry' type="text">
      <input class="clean_text" [(ngModel)]='saveframe_category' type="text">
      <a class="fake_button" [routerLink]="['/entry', entry, 'saveframe', saveframe_category]">Load</a>
      <a class="fake_button" (click)='download(entry + "_" + saveframe.name + ".str", saveframe)'>Download</a>
    </div>
	

	<h1>Saveframe Viewer</h1>
	<h3>You are on page: {{saveframe.name}}</h3>
	<p><a>Display tags with no value: <ui-switch [(ngModel)]="showall" (change)="updateLoopData($event)" size="small" color="#CBDBFF"></ui-switch></a></p>
   	<app-saveframe [saveframe]='saveframe' [showall]='showall'></app-saveframe>  
	 
</div>