@import "../../custom-theme.scss";

.mandatory {
  color: mat-color($custom-theme-warn, darker);
}

.left-margin {
  margin-left: .25em;
}

.tag-description {
  font-weight: bold;
  cursor: help;
}

.invisible {
  background-color: white;
  padding: 1px;
  margin: 0;
}

.invalid {
  background-color: mat-color($custom-theme-warn, lighter);
}

.tag-info-box {
  margin: 1em;
  padding: 1em 1em 0 1em;
  border: 2px solid mat-color($custom-theme-primary, darker);
  border-radius: 5px;
  word-wrap: break-word;
}

.header-text {
  vertical-align: middle;
  font-size: larger;
  font-weight: bold;
}

.tag-column {
  width: 25%;
}

.value-column {
  width: 75%;
}

table {
  width: 100%;
  background-color: mat-color($custom-theme-primary);
  margin-bottom: 1em;
  margin-right: 1em;
  padding: 0 0.25em;
  border-collapse: collapse;
  border-radius: 5px;
}

th {
  text-align: left;
  background-color: mat-color($custom-theme-primary);
  font-weight: bold;
  font-style: normal;
  color: black;
  border: 1px solid mat-color($custom-theme-primary, darker);
  padding: .5em;
}

td {
  text-align: left;
  background-color: mat-color($custom-theme-accent);
  font-weight: normal;
  font-style: normal;
  color: black;
  border: 1px solid mat-color($custom-theme-primary, darker);
  padding: 0 0.25em;
} 
