<ng-container>
  @if (saveframe.category === 'deposited_data_files') {
    <app-file-uploader
      [entry]="saveframe.parent"></app-file-uploader>
  } @else {
    @if (saveframe.display === 'Y' || (saveframe.parent.showAll && saveframe.display === 'N')) {
      <div>
        <table>
          <colgroup>
            <col class="tag-column">
            <col class="value-column">
          </colgroup>
          <thead>
          <tr [matTooltip]="saveframe.schemaValues['group_view_help']">
            @if (saveframe.tags[0]) {
              <th (contextmenu)="saveframe.log()">
                <a class="header-text">{{ saveframe.tags[0].schemaValues['ADIT category view name'] }}
                  @if (saveframe.category === 'assembly') {
                    <mat-icon routerLink="/help/molecular-assembly"
                              class="pointer" matTooltip="Molecular assembly help">help_outline
                    </mat-icon>
                  }</a>
              </th>
            }
            <th>
              <div class="right-float">
                @if (saveframe.schemaValues['ADIT replicable'] === 'Y' && !saveframe.deleted) {
                  <button mat-raised-button class="saveframe-button"
                          (click)='saveframe.duplicate(); processChange()' color="accent"
                          matTooltip="Create a new section of this type with the same data as this section."
                          [disabled]="saveframe.parent.deposited">Duplicate
                  </button>
                }
                @if (saveframe.schemaValues['ADIT replicable'] === 'Y' && !saveframe.deleted) {
                  <button mat-raised-button class="saveframe-button"
                          (click)='saveframe.duplicate(true); processChange()' color="accent"
                          matTooltip="Create a new and blank section of this type."
                          [disabled]="saveframe.parent.deposited">Create new
                  </button>
                }
                @if (saveframe.saveframesInCategory > saveframe.schemaValues['mandatory_number'] && !saveframe.deleted) {
                  <button mat-raised-button class="saveframe-button"
                          (click)='deleteSaveframe()' color="accent"
                          matTooltip="Delete this entire section."
                          [disabled]="saveframe.parent.deposited">Delete
                  </button>
                }
                @if (!saveframe.deleted) {
                  <button mat-raised-button class="saveframe-button"
                          (click)='clearSaveframe()' color="accent"
                          matTooltip="Clear all the data in this section."
                          [disabled]="saveframe.parent.deposited">Clear data
                  </button>
                }
                @if (saveframe.deleted) {
                  <button mat-raised-button class="saveframe-button"
                          (click)='saveframe.restore(); processChange()' color="accent"
                          matTooltip="Restore this section. (Undo the previous delete.)"
                          [disabled]="saveframe.parent.deposited">Restore
                  </button>
                }
                @if (showCategoryLink) {
                  <button mat-raised-button class="saveframe-button"
                          [routerLink]="['/entry', 'saveframe', saveframe.category]" color="accent">
                    View sections of this category
                  </button>
                }
              </div>
            </th>
          </tr>
          </thead>
          <tbody>
            @for (saveframeTag of saveframe.tags; track saveframeTag) {
              @if (saveframeTag.display === 'Y' || (saveframe.parent.showAll && saveframeTag.display === 'N')) {
                <tr
                  (contextmenu)="saveframeTag.log()">
                  @if (saveframeTag.display === 'Y') {
                    <td class="tag-description"
                        [matTooltip]="saveframeTag.schemaValues['Interface'] + ' Click for more information.'"
                        [innerHTML]="saveframeTag.schemaValues['Prompt'] + '<span class=\'mandatory\'>*</span>'"
                        (click)="helpClick(saveframeTag, tag_info_box)">
                    </td>
                  } @else {
                    <td class="tag-description"
                        [matTooltip]="saveframeTag.schemaValues['Interface'] + ' Click for more information.'"
                        [innerHTML]="saveframeTag.schemaValues['Prompt']"
                        (click)="helpClick(saveframeTag, tag_info_box)">
                    </td>
                  }
                  <td [ngClass]="{'invisible': true, 'invalid': !saveframeTag.valid}">
                    <app-tag [tag]='saveframeTag' [unique_identifier]="'_' + saveframe.name"></app-tag>
                  </td>
                </tr>
              }
            }
          </tbody>
        </table>
        <div #tag_info_box>
          @if (activeTag) {
            <div class='tag-info-box'>
              <b [innerHTML]="activeTag.schemaValues['Prompt']"></b>
              <p [innerHTML]="activeTag.schemaValues['Interface']"></p>
              @if (activeTag.schemaValues['Example'] !== '?') {
                <p
                  [innerHTML]="'<b>Example:</b> ' + activeTag.schemaValues['Example']"></p>
              }
              <p><i>{{ activeTag.fullyQualifiedTagName }}</i></p>
              @if (activeTag.validationMessage) {
                <p class='mandatory'>{{ activeTag.validationMessage }}</p>
              }
            </div>
          }
        </div>
        @for (loop of saveframe.loops; track loop) {
          @if (loop.display === 'Y' || (loop.display === 'N' && saveframe.parent.showAll)) {
            <app-loop
              [loop]='loop'></app-loop>
          }
        }
      </div>
    }
  }
</ng-container>
