.type_error {
	background-color: #ffa4a4 !important;
}

.sf_input {
	width: 100%;
	padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-width: 0px;
    background-color: white;
}

.sf_input:hover {
	outline: #33527b solid 1px;
}

.invisible {
	background-color: white;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border: 0px;
}
