<input *ngIf="tag.interface_type == 'standard'"
       [(ngModel)]="tag.value"
       [ngClass]="{'type_error': !tag.valid, 'sf_input': true}"
       [placeholder]="tag.schema_values['default value']"
       (change)="validateTag(tag)"
       [type]="tag.data_type"
       [attr.step]="tag.schema_values['BMRB data type'] == 'float' ? 'any' : null"
       [title]="tag.validation_message">

<select *ngIf="tag.interface_type == 'closed_enum'"
        [(ngModel)]="tag.value"
        [ngClass]="{'type_error': !tag.valid, 'sf_input': true}"
        (change)="validateTag(tag)"
        [title]="tag.validation_message">
 <option *ngFor="let val of tag.enums" [value]="val" [ngClass]="{'type_error': !tag.valid}">{{val}}</option>
</select>

<ng-container *ngIf="tag.interface_type == 'open_enum'" >
   <input [attr.list]="tag.fqtn" 
          [(ngModel)]="tag.value"
          [ngClass]="{'type_error': !tag.valid, 'sf_input': true}"
          [placeholder]="tag.schema_values['default value']"
          (change)="validateTag(tag)"
          [title]="tag.validation_message"
          />
  <datalist [id]="tag.fqtn"><option *ngFor="let val of tag.enums" [value]="val"></datalist>
</ng-container>
  
<ng-container *ngIf="tag.interface_type == 'yes_no'" >
  <div [ngClass]="{'type_error': !tag.valid, 'sf_input': true}"
       (change)="validateTag(tag)"
       [title]="tag.validation_message">
  	 <label [for]="tag.fqtn + unique_identifier">Yes</label>
    <input type="radio"
           [name]="tag.fqtn + unique_identifier"
           [(ngModel)]="tag.value"
           [id]="tag.fqtn + unique_identifier"
           [value]="'yes'">
	 <label [for]="tag.fqtn + unique_identifier">No</label>
    <input type="radio"
           [name]="tag.fqtn + unique_identifier"
           [(ngModel)]="tag.value"
           [id]="tag.fqtn + unique_identifier"
           [value]="'no'">
	     </div>
</ng-container>

<ng-container *ngIf="tag.interface_type == 'text'" >
  <textarea [(ngModel)]="tag.value"
            [ngClass]="{'type_error': !tag.valid, 'sf_input': true}"
            [placeholder]="tag.schema_values['default value']"
            (change)="validateTag(tag)"
            [title]="tag.validation_message"></textarea>

</ng-container>
