<!DOCTYPE html>
<html>
    <head>
        <title>InstantDep</title>
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
    </head>

    <body>
        <header>
            <h1>InstantDep</h1>
        </header>

        <div class="details_box" style="float: left">
            <h3>Links</h3>
            <p><a class="fake_button" routerLink="/">Home</a></p>
            <p><a class="fake_button" routerLink="/saveframe/15000/entry_information">Saveframe Viewer</a></p>
            <!--  <p><a class="fake_button" routerLink="/saveframe/original">Saveframe B</a></p>-->
        </div>
        <div style="width: 100%">
			<router-outlet></router-outlet>
		</div>
    </body>
</html>

