/* Use these to style tables nicely */
table.alternating tr:nth-child(odd) {
    background-color: #CBDBFF;
}

table.alternating tr:nth-child(even) {
    background-color: #FFFFFF;
}

table.alternating td{
    padding: 0.25em;
    vertical-align: top;
}

table.alternating {
    width: 100%;
}

table.alternating th {
    padding: 0.25em;
    font-size: 130%;
    background-color: #CBDBFF;
}

table.alternating tfoot {
    font-size: 110%;
    background-color: #CBDBFF;
}

table.alternating tr:hover {
    border: 1px solid #C8C8C8;
    background: #EDEDED;
}

.content {
  /*width: 75%;
  margin-left: auto;
  margin-right: auto;*/
}

.fake_button_main, .fake_button_main:visited {
    color: #333333;
    text-decoration:none;
    font-weight: bold;

    border-radius: 3px;
    border: 1px solid #C8C8C8;
    padding: 5px 10px 5px 10px;
    display: inline-block;
    background-color: #aeecec;
}

.fake_button_main:hover {
    box-shadow: 0 0 2px #666666 inset;
    border: 1px solid #666666;
    outline: none;
}

.fake_button_sim, .fake_button_sim:visited {
    color: #333333;
    text-decoration:none;
    font-weight: bold;

    border-radius: 3px;
    border: 1px solid #C8C8C8;
    padding: 5px 10px 5px 10px;
    display: inline-block;
    background-color: #a7f18d;
}

.fake_button_sim:hover {
    box-shadow: 0 0 2px #666666 inset;
    border: 1px solid #666666;
    outline: none;
}

header {
    background-color: #cbdbff;
    border: solid 2px #33527b;
    border-spacing: 0;
    padding: .5em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    -webkit-border-radius: 5px 5px 5px 5px;
       -moz-border-radius: 5px 5px 5px 5px;
            border-radius: 5px 5px 5px 5px;
    max-height: 5em;
}

.nopad {
	margin: .25em;
	padding: 0;
}

/* Original */
li a:hover {
    background-color: #8DE7EE;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 600px;
    background-color: #87f287;
    color: black;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0;

/* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.left_align {
    text-align: left;
}

.messages {
  /* Center the display on the bottom. */
  position: fixed;
  bottom: 1em;
  left: 50%;
  transform: translate(-50%, 0);

  padding: 1em;
  border-radius: 3px;
  border: 2px solid;
}

.SuccessMessage {
  background-color: #a4f29e;
}

.WarningMessage {
  background-color: #f2807a;
}

.ErrorMessage {
  background-color: #f24b3d;
  font-weight: bold;
}

.NotificationMessage {
  background-color: #cbdbff;
}
