<!DOCTYPE html>
<html>
    <head>
        <title>InstantDep</title>
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
    </head>

    <body>
        <header>
            <h1 class="nopad">InstantDep</h1>
            <p class="nopad">
              <a class="fake_button" routerLink="/">Home</a>
              <a class="fake_button" [routerLink]="['entry', '34ba9bf6ddba38596601aa12d03c62b7']">Full Submission View</a>
              <a class="fake_button" [routerLink]="['entry', '34ba9bf6ddba38596601aa12d03c62b7', 'saveframe', 'entry_interview', 'category']">Section View</a>
            </p>
        </header>

        <div>
			<router-outlet></router-outlet>
		</div>
    </body>
</html>

