.content-box {
  display: flex;
  flex-direction: column;
  margin: 1em;
  border: solid 1px #33527b;
  border-radius: 5px;
  padding: 0 1em 1em;
}

.content-box > * {
  width: 100%;
}

.resume-box {
  div {
    display: flex;

    div {
      flex: 1 1 0;
      a, button {
        width: 100%;
      }
    }
    div:first-child {
      padding-right: 1em;
    }
  }
}

h1 {
  margin-left: .5em;
}

span {
  margin-right: 1em;
}
