<div>
  <h1>Welcome to BMRBDep!</h1>
  <form (ngSubmit)="new(createDepositionForm)" name="createDepositionForm" [formGroup]="createDepositionForm">
    <div class="content-box">
      <h2>Start a new deposition</h2>

      <mat-form-field>
        <mat-select [formControl]="sessionType" placeholder="Select a deposition type" required>
          <mat-option value="new">New deposition from scratch</mat-option>
          <mat-option value="bmrb_id">Begin a deposition from an existing and released BMRB entry</mat-option>
          <mat-option value="file">Begin a deposition from an uploaded NMR-STAR file</mat-option>
        </mat-select>
        <mat-error *ngIf="sessionType.invalid">Please select a deposition type.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput
               [formControl]="authorEmail"
               placeholder="Please enter your e-mail."
               required>
        <mat-error *ngIf="authorEmail.invalid" [innerHTML]="getEmailErrorMessage(authorEmail)"></mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput
               [formControl]="depositionNickname"
               placeholder="Please enter a brief nickname for this deposition."
               required>
        <mat-error *ngIf="depositionNickname.invalid">You must enter a nickname for the deposition.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput
               [formControl]="authorORCID"
               placeholder="Please enter your ORCID if you have one.">
        <mat-error *ngIf="authorORCID.invalid">Invalid ORCID value. Valid ORCID IDs look like: 0000-0002-1825-0097
        </mat-error>
      </mat-form-field>


      <mat-form-field *ngIf="sessionType.value == 'bmrb_id'">
        <input matInput
               [formControl]="bootstrapID"
               placeholder="Enter the BMRB ID from which to start a new deposition."
               required>
        <mat-error *ngIf="bootstrapID.invalid" [innerHTML]="getBootstrapErrorMessage(bootstrapID)"></mat-error>
      </mat-form-field>

      <div *ngIf="sessionType.value == 'file'">
        <input type="file" #inputFile (change)="fileChangeEvent()"/><br><br>

        <button *ngIf="sessionType.value == 'file' && !inputFile.files[0]" mat-flat-button
                class="mat-flat-button mat-primary" disabled>
          Please select a file to upload.
        </button>

        <button *ngIf="sessionType.value == 'file' && inputFile.files[0]" mat-flat-button
                class="mat-flat-button mat-primary">
          Click here to start a new deposition from {{inputFile.files[0]?.name}}.
        </button>
      </div>

      <br>
      <button *ngIf="sessionType.value == 'bmrb_id'" mat-flat-button class="mat-flat-button mat-primary"
              [disabled]="!createDepositionForm.valid">
        Click here to start a new deposition from an existing entry.
      </button>

      <button *ngIf="sessionType.value == 'new'" mat-flat-button class="mat-flat-button mat-primary"
              [disabled]="!createDepositionForm.valid">
        Click here to start a new deposition from scratch.
      </button>

      <button *ngIf="!sessionType.value" mat-flat-button class="mat-flat-button mat-primary"
              [disabled]="!createDepositionForm.valid">
        Click here to start a new deposition.
      </button>

    </div>
  </form>

  <div class="content-box">
    <h3>Resume deposition</h3>
    <p>To resume your deposition, simply click the link in the e-mail you were sent when you created the deposition.</p>
    <p>If you have lost that e-mail, please
      <a href="mailto:bmrbhelp@bmrb.wisc.edu?subject=Lost access to BMRBDep session">contact us.</a>
    </p>
  </div>
</div>
