@use '~@angular/material' as mat;
@import "../../custom-theme.scss";

.header-text {
  vertical-align: middle;
  font-size: larger;
  font-weight: bold;
}

table {
  width: auto;
  background-color: mat.get-color-from-palette($custom-theme-primary);
  margin-bottom: 1em;
  margin-right: 1em;
  padding: 0 0.25em;
  border-collapse: collapse;
  border-radius: 5px;
}

th {
  text-align: left;
  background-color: mat.get-color-from-palette($custom-theme-primary);
  font-weight: bold;
  font-style: normal;
  color: black;
  border: 1px solid mat.get-color-from-palette($custom-theme-primary, darker);
  padding: .5em;
}

td {
  text-align: left;
  background-color: mat.get-color-from-palette($custom-theme-accent);
  font-weight: normal;
  font-style: normal;
  color: black;
  border: 1px solid mat.get-color-from-palette($custom-theme-primary, darker);
  padding: 0 0.25em;
}

.invisible {
  background-color: white;
  padding: 6px;
  margin: 0;
}

.drag-td {
  background-color: white;
}

.drag-box {
  height: 4em;
  margin: .5em;
  border: 2px solid mat.get-color-from-palette($custom-theme-primary, darker);
  border-radius: 5px;
  text-align: center;
  position: relative;
}

.drag-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.file-upload {
  margin: .5em;
}

.mat-form-field {
  width: 100% !important;
}

.invalid {
  background-color: mat.get-color-from-palette($custom-theme-warn, lighter);
}

.index-column {
  width: 2%;
}

.file-status-column {
  width: 20%;
}

.file-type-column {
  width: 68%;
}

.square-button {
  margin-right: 1em;
}

#fileUploadButton {
  margin-left: .5em;
}
