@use '@angular/material' as mat;
@use "../../../custom-theme.scss" as theme;

table.alternating_color tr:nth-child(even) {
  background-color: mat.m2-get-color-from-palette(theme.$custom-theme-primary);
}

table.alternating_color tr:nth-child(even) .datum {
  background-color: mat.m2-get-color-from-palette(theme.$custom-theme-primary);
}

.datum {
  border: none;
  font-weight: normal;
}

.uneditable {
  font-weight: bold;
}
