table.alternating_color tr:nth-child(even) {
  background-color: #CBDBFF;
}

table.alternating_color tr:nth-child(even) .datum {
  background-color: #CBDBFF;
}

.datum {
  border: none;
  font-weight: normal;
}

.uneditable {
  font-weight: bold;
}
