@use '@angular/material' as mat;
@import "../../../custom-theme.scss";

table.alternating_color tr:nth-child(even) {
  background-color: mat.get-color-from-palette($custom-theme-primary);
}

table.alternating_color tr:nth-child(even) .datum {
  background-color: mat.get-color-from-palette($custom-theme-primary);
}

.datum {
  border: none;
  font-weight: normal;
}

.uneditable {
  font-weight: bold;
}
