<div *ngIf="message"
     [ngClass]="{ErrorMessage: message.messageType == messageType.ErrorMessage,
                 WarningMessage: message.messageType == messageType.WarningMessage,
                 SuccessMessage: message.messageType == messageType.SuccessMessage,
                 NotificationMessage: message.messageType == messageType.NotificationMessage,
                 messages: 'true'}">
  {{message.messageBody}}
  <span *ngIf="message.messageType == messageType.ErrorMessage">
    If this message persists, please <a href="mailto:bmrbhelp@bmrb.wisc.edu?subject=Reporting issue with deposition server">contact us</a>.
  </span>
  <span *ngIf="message.messageType == messageType.WarningMessage">
    If this message seems in error, please <a href="mailto:bmrbhelp@bmrb.wisc.edu?subject=Reporting issue with deposition server">contact us</a>.
  </span>
</div>
