.content-box {
  display: flex;
  flex-direction: column;
  margin: 1em;
  border: solid 1px #33527b;
  border-radius: 5px;
  padding: 0 1em 1em;
}

.content-box > * {
  width: 100%;
}

h1 {
  margin-left: .5em;
}
