<div class="details_box full_margin">
  <h1>Welcome to BMRBDep!</h1>
  <h2>Start new deposition</h2>
  <p>
    <label>
      <select [(ngModel)]="sessionType">
        <option value="new">New deposition from scratch</option>
        <option value="bmrb_id">Begin a deposition from an existing and released BMRB entry</option>
        <option value="file">Begin a deposition from an uploaded NMR-STAR file</option>
      </select>
    </label>
  </p>
  <p>
    <input [(ngModel)]="authorEmail"
           [class.red-background]="!authorEmail"
           placeholder="Please enter your e-mail.">
  </p>
  <p>
    <input [(ngModel)]="depositionNickname"
           [class.red-background]="!depositionNickname"
           placeholder="Please enter a brief nickname for this deposition.">
  </p>
  <p>
    <input [(ngModel)]="authorORCID"
           placeholder="Please enter your ORCID if you have one.">
  </p>

  <div *ngIf="sessionType == 'new'">
    <p>
      <button (click)="new()" class="fake_button">Click here to start a new deposition from scratch.</button>
    </p>
    <br>
  </div>

  <div *ngIf="sessionType == 'bmrb_id'">
    <label for="bootstrap"></label>
    <p><input #bmrbid [(ngModel)]="bootstrapID" id="bootstrap" placeholder="BMRB ID"
              [class.red-background]="!bootstrapID"
              type="text"></p>

    <p *ngIf="bootstrapID">
      <button (click)="new()" class="fake_button">Click here to start a new deposition from the existing
        entry {{bmrbid.value}}.
      </button>
    </p>
    <p *ngIf="!bootstrapID">
      <button class="fake_button" disabled>Please enter a BMRB ID for an existing entry, or change the deposition type.</button>
    </p>
  </div>

  <div *ngIf="sessionType == 'file'">
    <p>
      <input #inputFile placeholder="Upload file" type="file">
    </p>

    <p *ngIf="inputFile.files[0]">
      <button (click)="new()" class="fake_button">Click here to start a new deposition from the selected file -
        "{{inputFile.files[0].name}}".
      </button>
    </p>
    <button *ngIf="!inputFile.files[0]" class="fake_button" disabled>
      Please select an NMR-STAR file to upload, or change the deposition type.
    </button>
  </div>

  <div>
    <h3>Resume deposition</h3>
    <p>To resume your deposition, simply click the link in the e-mail you were sent when you created the deposition.</p>
    <p>If you have lost that e-mail, please
      <a href="mailto:bmrbhelp@bmrb.wisc.edu?subject=Lost access to BMRBDep session">contact us.</a>
    </p>
  </div>
</div>
