.menu_item {
	padding-left: .5em;
}

.nav_link {
	color: #333333;
    text-decoration:none;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #C8C8C8;
    padding: .1em;
    margin: .1em;
    background-color:#ededed;
}

.nav_link:hover {
    box-shadow: 0 0 2px #666666 inset;
    border: 1px solid #666666;
    outline: none;
}


.tree_box {
	float: left;
    margin-top: 1em;
    width: 10%;
    padding: .5em;
    border: 2px solid #33527b;
    border-radius: 5px;
    word-wrap: break-word;
    overflow:hidden;
}

.active {
	font-weight: bold;
}