.menu_item {
  padding-left: .5em;
}

.nav_link:hover {
  background: rgba(0,0,0,.04);
}

.active {
  font-weight: bolder !important;
}

h4 {
  padding-left: .5em !important;
  cursor: pointer;
}
mat-slide-toggle {
  padding: .75em;
  font-size: 14px;
  font-weight: 400;
}
