<ng-container *ngIf="api.cachedEntry!==undefined && api.cachedEntry.schema!==undefined">
  <p>
    <a>Display non-mandatory tags: <mat-slide-toggle [(ngModel)]="api.cachedEntry.showAll"  color="#CBDBFF"></mat-slide-toggle></a><!--(click)="updateCategoryLinks()"-->
  </p>
<div *ngIf="(showInvalidOnly && !api.cachedEntry.valid) || !showInvalidOnly">
  <div *ngFor="let superGroupCat of api.cachedEntry.superGroups">
    <ng-container *ngIf="(showInvalidOnly && !superGroupCat[2]) ||
                         (!showInvalidOnly && (superGroupCat[3] == 'Y' ||
                              (api.cachedEntry.showAll && superGroupCat[3] != 'H')))">
      <p><b>{{superGroupCat[1]}}</b></p>
      <ng-container *ngFor="let superGroup of superGroupCat[4]">
        <p><a *ngIf="(api.cachedEntry.showAll || superGroup.display == 'Y') && superGroup.display != 'H'"
           [ngClass]="{'active': active==superGroup.category,
                       'nav_link':true,
                       'complete':superGroup.valid,
                       'incomplete':!superGroup.valid}"
           [title]="superGroup.displayName"
           [routerLink]="['/entry', api.cachedEntry.entryID, 'saveframe', superGroup.category, 'category']">{{superGroup.displayName}}</a></p>
      </ng-container>
    </ng-container>
  </div>
  <br>
  <a class="nav_link" [routerLink]="['/entry', api.cachedEntry.entryID, 'review']">Review deposition</a>
</div>
</ng-container>
