<div class="main-content">
    <mat-card>
        <mat-card-header>
            <mat-card-title *ngIf="!entry.valid">You are viewing all sections of your deposition that still need to be completed.</mat-card-title>
            <mat-card-title *ngIf="entry.valid">Your deposition is ready to submit.</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-nav-list>
                <ng-container *ngFor='let saveframe of entry.saveframes'>
                    <a mat-raised-button *ngIf="!saveframe.deleted && !saveframe.valid"
                       [routerLink]="['/entry', 'saveframe', saveframe.category]" color="accent">
                        {{saveframe.schemaValues['category_group_view_name']}}</a>
                </ng-container>
            </mat-nav-list>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button class="saveframe-button" [disabled]="!entry.valid" color="accent"
                    (click)="submitEntry()">Submit deposition to BMRB
            </button>
            <a mat-raised-button (click)="goBack()" color="accent">Return to previous page</a>
        </mat-card-actions>
    </mat-card>
</div>
