/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/
@import './custom-theme.scss';

.main-content {
  margin: 1em;
}

.main-content > h2 {
  text-align: center;
}

.real-button {
  color: #333333;
  text-decoration: none;
  font-weight: bold;
  border-radius: 3px;
  border: 1px solid #C8C8C8;
  padding: 5px 10px 5px 10px;
  display: inline-block;
  background-color: #ededed;
  font-size: 1em;
}

.real-button:hover, .real-button:focus {
  box-shadow: 0 0 2px #666666 inset;
  border: 1px solid #666666;
  outline: none;
}


.fake-button, .fake-button:visited {
  color: #333333;
  text-decoration: none;
  font-weight: bold;

  border-radius: 3px;
  border: 1px solid #C8C8C8;
  padding: 5px 10px 5px 10px;
  display: inline-block;
  background-color: #ededed;
}

.fake-button:hover {
  box-shadow: 0 0 2px #666666 inset;
  border: 1px solid #666666;
  outline: none;
}

.fake-button:disabled {
  color: #c3c3bc;
  box-shadow: none;
  border: 1px solid #C8C8C8;
}

.line {
  margin-top: 5px;
  margin-bottom: 5px;
}

.highlight:hover {
  background-color: #ededed !important;
}

.full_width {
  width: 100% !important;
}

.right-float {
  text-align: right;
  float: right
}

.center-text {
  text-align: center;
}

html {
  height: 100%;
  overflow: auto;
}

body {
  height: 100%;
  margin: 0;
}

select{
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHBvbHlnb24gY2xhc3M9ImNscy0yIiBwb2ludHM9IjEuNDEgNC42NyAyLjQ4IDMuMTggMy41NCA0LjY3IDEuNDEgNC42NyIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIzLjU0IDUuMzMgMi40OCA2LjgyIDEuNDEgNS4zMyAzLjU0IDUuMzMiLz48L3N2Zz4=)
  no-repeat 99.9% 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
