@import './custom-theme.scss';

.main-content {
  margin: 1em;
}

.main-content > h2 {
  text-align: center;
}

.line {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mat-raised-button.saveframe-button {
  margin: .5em .5em .5em 0;
}

.mat-raised-button.square-button {
  min-width: auto;
  margin-top: .25em;
  margin-bottom: .25em;
  width: 40px;
  font-weight: bold !important;
}

.highlight:hover {
  background-color: #ededed !important;
}

.full_width {
  width: 100% !important;
}

.right-float {
  text-align: right;
  float: right
}

.center-text {
  text-align: center;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  margin: 0;
}

select{
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHBvbHlnb24gY2xhc3M9ImNscy0yIiBwb2ludHM9IjEuNDEgNC42NyAyLjQ4IDMuMTggMy41NCA0LjY3IDEuNDEgNC42NyIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIzLjU0IDUuMzMgMi40OCA2LjgyIDEuNDEgNS4zMyAzLjU0IDUuMzMiLz48L3N2Zz4=)
  no-repeat 99.9% 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.ErrorMessage {
  background-color: mat-color($custom-theme-warn) !important;
  font-weight: bold !important;
  color: black !important;

  .mat-button-wrapper {
    color: mat-color($custom-theme-accent, darker) !important;
    font-weight: bold !important;
  }
}

.NotificationMessage {
  background-color: mat-color($custom-theme-accent) !important;
  color: black !important;
}
