@import "../../custom-theme.scss";

.messages {
  /* Center the display on the bottom. */
  position: fixed;
  bottom: 1em;
  left: 50%;
  transform: translate(-50%, 0);

  padding: 1em;
  border-radius: 3px;
  border: 2px solid;
}

.SuccessMessage {
  background-color: mat-color($custom-theme-primary, lighter);
}

.WarningMessage {
  background-color: mat-color($custom-theme-warn);
}

.ErrorMessage {
  background-color: mat-color($custom-theme-warn, darker);
  font-weight: bold;
}

.NotificationMessage {
  background-color: mat-color($custom-theme-accent);
}
