/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/
@import './custom-theme.scss';

.main-content {
  margin: 1em;
}

.main-content > h2 {
  text-align: center;
}

.real_button {
  color: #333333;
  text-decoration: none;
  font-weight: bold;
  border-radius: 3px;
  border: 1px solid #C8C8C8;
  padding: 5px 10px 5px 10px;
  display: inline-block;
  background-color: #ededed;
  font-size: 1em;
}

.real_button:hover, .real_button:focus {
  box-shadow: 0 0 2px #666666 inset;
  border: 1px solid #666666;
  outline: none;
}


.fake_button, .fake_button:visited {
  color: #333333;
  text-decoration: none;
  font-weight: bold;

  border-radius: 3px;
  border: 1px solid #C8C8C8;
  padding: 5px 10px 5px 10px;
  display: inline-block;
  background-color: #ededed;
}

.fake_button:hover {
  box-shadow: 0 0 2px #666666 inset;
  border: 1px solid #666666;
  outline: none;
}

.fake_button:disabled {
  color: #c3c3bc;
  box-shadow: none;
  border: 1px solid #C8C8C8;
}

.line {
  margin-top: 5px;
  margin-bottom: 5px;
}

.highlight:hover {
  background-color: #ededed !important;
}

.details_box {
  border: solid 2px #33527b;
  padding: 1em 1em 1em 1em;
  margin-top: 1em;
  margin-right: 1em;
  background-color: #fdfdfe;
  border-radius: 5px;
  overflow: auto;
}

.full_width {
  width: 100% !important;
}

.right_float {
  text-align: right;
  float: right
}

.center_text {
  text-align: center;
}

html {
  height: 100%;
  overflow: auto;
}

body {
  height: 100%;
  margin: 0;
}
