/* You can add global styles to this file, and also import other style files */
.oneindent {
    position: relative;
    left: 30px;
    width: 100%;
}
.twoindent {
    position: relative;
    left: 60px;
}
.uneditable {
    font-weight: bold;
}

.fake_button, .fake_button:visited {
    color: #333333;
    text-decoration:none;
    font-weight: bold;

    border-radius: 3px;
    border: 1px solid #C8C8C8;
    padding: 5px 10px 5px 10px;
    display: inline-block;
    background-color:#ededed;
}

.fake_button:hover {
    box-shadow: 0 0 2px #666666 inset;
    border: 1px solid #666666;
    outline: none;
}

.line {
    margin-top: 5px;
    margin-bottom: 5px;
}
.highlight:hover {
    background-color: #ededed;
}

.no_dict {
    background-color: brown;
}
.contains_unicode {
    background-color: yellow;
}
.illegal_null {
    background-color: orange;
}
.warn {
    background-color:red;
}