@import "../../custom-theme.scss";

.type-error {
  background-color: mat-color($custom-theme-warn, lighter) !important;
}

.tag-input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-width: 0;
  background-color: white;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}


.open-enum {
  width: 100%;
  height: 100%;

  ::ng-deep .mat-form-field-wrapper, ::ng-deep .mat-form-field-flex, ::ng-deep .mat-form-field-infix {
    padding:0 !important;
    display: block !important;
    width: 100% !important;
    border: 0 !important;
  }

  ::ng-deep .mat-autocomplete-trigger {
    margin-top:0 !important;
  }

  ::ng-deep .mat-form-field-underline {
    display: none;
  }
}


.tag-input:hover:not([disabled]) {
  outline: mat-color($custom-theme-primary, darker) solid 1px;
}

.invisible {
  background-color: white;
  padding: 0;
  margin: 0;
  border: 0;
}

.first-button {
  padding-right: .5em;
  padding-bottom: .25em
}

textarea {
  min-width: 100%;
}
