<label *ngIf="tag.interfaceType == 'country'">
    <select
            [(ngModel)]="tag.value"
            [ngClass]="{'type-error': !tag.valid, 'tag-input': true, 'crs-country': true}"
            (change)="validateTag()"
            [title]="tag.validationMessage"
            [attr.data-region-id]="'state'+getRow()"
            [attr.data-default-value]="tag.value"
            [disabled]="tag.disabled"
            data-preferred="US,GB,CN,JP,AU,MX">
    </select>
</label>

<label *ngIf="tag.interfaceType == 'state'">
    <select
            [(ngModel)]="tag.value"
            [ngClass]="{'type-error': !tag.valid, 'tag-input': true}"
            (change)="validateTag()"
            [title]="tag.validationMessage"
            [id]="'state'+getRow()"
            [attr.data-default-value]="tag.value"
            [disabled]="tag.disabled"
            data-default-option="Select State or Province">
    </select>
</label>


<label *ngIf="tag.interfaceType == 'standard'">
    <input
            [(ngModel)]="tag.value"
            [ngClass]="{'type-error': !tag.valid, 'tag-input': true}"
            [placeholder]="tag.schemaValues['default value']"
            (change)="validateTag()"
            [title]="tag.validationMessage"
            [disabled]="tag.disabled">
  <!--
     Those don't play nicely with our validation
    [type]="tag.dataType"
    [attr.step]="tag.schemaValues['BMRB data type'] == 'float' ? 'any' : null"
            -->
</label>

<label *ngIf="tag.interfaceType == 'closed_enum'">
    <select [(ngModel)]="tag.value"
            [ngClass]="{'type-error': !tag.valid, 'tag-input': true}"
            (change)="validateTag()"
            [title]="tag.validationMessage"
            [disabled]="tag.disabled">
        <option *ngIf="tag.value && !tag.enums.has(tag.value)" disabled [value]="tag.value">{{tag.value}} -
            Error: {{tag.validationMessage}}</option>
        <ng-container *ngFor="let val of tag.enums">
            <option *ngIf="!(!tag.valid && tag.value == val); else invalid_selection" [value]="val"
                    [ngClass]="{'type-error': !tag.valid}">{{val}}</option>
            <ng-template #invalid_selection>
                <option disabled [value]="val">{{tag.value}} - Error: {{tag.validationMessage}}</option>
            </ng-template>
        </ng-container>
    </select>
</label>

<label *ngIf="tag.interfaceType == 'sf_pointer' || tag.interfaceType == 'experiment_pointer'">
    <select [(ngModel)]="tag.value"
            [ngClass]="{'type-error': !tag.valid, 'tag-input': true}"
            (ngModelChange)="validateTag()"
            [title]="tag.validationMessage"
            [disabled]="tag.disabled">

        <option *ngFor="let frameLink of tag.frameLink" [value]="frameLink[0]"
                [ngClass]="{'type-error': !tag.valid}">{{frameLink[1]}}</option>
    </select>
</label>

<ng-container *ngIf="tag.interfaceType == 'open_enum'">

  <mat-form-field class="open-enum">
    <label>
      <input matInput
             [(ngModel)]="tag.value"
             [ngClass]="{'type-error': !tag.valid, 'tag-input': true}"
             (change)="validateTag()"
             (ngModelChange)="filter()"
             [title]="tag.validationMessage"
             [disabled]="tag.disabled"
             [matAutocomplete]="auto">
    </label>
  </mat-form-field>

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="validateTag()">
    <mat-option *ngFor="let option of filteredOptions" [value]="option">{{option}}</mat-option>
  </mat-autocomplete>
</ng-container>


<ng-container *ngIf="tag.interfaceType == 'yes_no'">
    <div [ngClass]="{'type-error': !tag.valid, 'tag-input': true}"
         [title]="tag.validationMessage">

        <mat-radio-group [(ngModel)]="tag.value" [disabled]="tag.disabled" (change)="validateTag()">
            <mat-radio-button class="first-button" value="yes">Yes</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
        </mat-radio-group>
    </div>
</ng-container>

<ng-container *ngIf="tag.interfaceType == 'text'">
    <label>
    <textarea [(ngModel)]="tag.value"
              [ngClass]="{'type-error': !tag.valid, 'tag-input': true}"
              [placeholder]="tag.schemaValues['default value']"
              (change)="validateTag()"
              [title]="tag.validationMessage"
              (ngModelChange)="recalculateHeight()"
              [style.height.em]="height"
              [disabled]="tag.disabled"></textarea>
    </label>

</ng-container>

