@import "../../custom-theme.scss";

.type-error {
  background-color: mat-color($custom-theme-warn, lighter) !important;
}

.saveframe-input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-width: 0;
  background-color: white;
}

.saveframe-input:hover:not([disabled]) {
  outline: mat-color($custom-theme-primary, darker) solid 1px;
}

.invisible {
  background-color: white;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  border: 0;
}
