<div class="saveframe">
  <span class="uneditable line">save_</span>
  <label>
    <input class="saveframe-name" [(ngModel)]="saveframe.name" placeholder="{{saveframe.category}}">
  </label>
  <table>
    <tr>
      <th class="tag-column"></th>
      <th class="value-column"></th>
    </tr>
    @for (saveframeTag of saveframe.tags; track saveframeTag) {
      @if (saveframeTag.value || saveframe.parent.showAll) {
        <tr class="highlight">
          <td><span class="uneditable">{{saveframe.tagPrefix + '.' + saveframeTag.name}}</span></td>
          @if (saveframeTag.name != "Sf_framecode") {
            <td>
              <div>
                @if (saveframeTag.value && saveframeTag.value.indexOf("$")==0) {
                  <a
                    [routerLink]="['/entry', saveframe.getID(), 'saveframe', saveframeTag.value.substring(1), 'name']">Jump
                  to: </a>
                }
                <label>
                  <input class="datum" [(ngModel)]="saveframeTag.value" placeholder=".">
                </label>
              </div>
            </td>
          } @else {
            <td>
              <label>
                <input class="datum" [(ngModel)]="saveframe.name" placeholder=".">
              </label>
            </td>
          }
        </tr>
      }
    }
  </table>
  @for (loop of saveframe.loops; track loop) {
    <app-loop-view [loop]='loop'></app-loop-view>
  }
  <span class="uneditable line">save_</span>
</div>
