@import "../../../custom-theme.scss";

.star {
  border: solid 2px mat-color($custom-theme-primary, darker);
  margin-top: 0.5em;
  max-width: 98%;
}

.saveframe {
  max-width: 90%;
}

.saveframe-name {
  border: none;
  font-weight: normal;
  width: 90%;
}

.datum {
  border: none;
  font-weight: normal;
  width: 100%;
}

.tag-column {
  width: 30%;
}

.value-column {
  width: 70%
}

.uneditable {
  font-weight: bold;
}
